@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Meeting Planner was designed and created by: </p>
<ul style="list-style-type: none">
    <li>Brad Allen </li>
    <li>Jason Chantry </li>
    <li>Catherine Florez</li>
    <li>Erin Smith</li>
</ul>
<p>Code can be found on GitHub at: <a href="https://github.com/allen-brad/MeetingPlanner" alt="GitHub - allen-brad/MeetingPlanner" title="GitHub - allen-brad/MeetingPlanner">GitHub - ellen-brad/MeetingPlanner</a></p>
<p>Team Demonstration video can be viewed at: </p>

