@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p><i>"Sacrament meeting is the most sacred and important meeting in the Church. It is the only Sabbath meeting the entire family can attend together. Its content in addition to the sacrament should always be planned and presented to focus our attention on the Atonement and teachings of the Lord Jesus Christ."</i> - Dallin H. Oaks </p>
<video controls>
    <source src="~/images/2017-04-3001-planning-sacrament-meetings-360p-eng.mp4" type="video/mp4">
</video>
<h3>Using the Sacrament Meeting Planner</h3>
<p>Use this Sacrament Meeting Planner to help you plan the most effective meetings that will invite the spirit into your ward and emphasize the importance of the meeting.</p>
<hr />
<p>Meeting Planner was designed and created by: </p>
<ul style="list-style-type: none">
    <li>Brad Allen </li>
    <li>Jason Chantry </li>
    <li>Catherine Florez</li>
    <li>Erin Smith</li>
</ul>
<p>Code can be found on GitHub at: <a href="https://github.com/allen-brad/MeetingPlanner" alt="GitHub - allen-brad/MeetingPlanner" title="GitHub - allen-brad/MeetingPlanner">GitHub - ellen-brad/MeetingPlanner</a></p>
<p>Team Demonstration video can be viewed at: </p>

