@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="main">
    <article class="homeImgContainer">
        <img src="~/images/ldsMeetingHouse.jpg" alt="LDS Meeting House" title="LDS Meeting House" />
        <h1>Meeting Planner</h1>
    </article>
    <article class="SelectionsContainer">
        <div class="col-md-5p">
            <h2>Organize and Plan</h2>
            <ul>
                
                <li><a href="~/Meetings/Create">Create a New Meeting</a></li>
                <li><a href="~/Meetings">View Meetings</a></li>
            </ul>
        </div>
        <div class="col-md-5p">
            <h2>Useful Links</h2>
            <ul>
                <li><a href="http://www.lds.org">Church Website - lds.org</a></li>
                <li><a href="https://www.lds.org/music/library/hymns?lang=eng&_r=1">Hymns of the Church</a></li>
                <li><a href="https://www.lds.org/topics?lang=eng">Gospel Topics</a></li>
                <li><a href="https://www.lds.org/topics/serve-and-teach/lessons-and-teaching?lang=eng&old=true">Lessons and Teaching</a></li>
                <li><a href="https://www.lds.org/handbook/handbook-2-administering-the-church/meetings-in-the-church?lang=eng#18.2.2">Handbook 2 - Sacrament Meeting</a></li>
                
            </ul>
        </div>

    </article>
</main>

