@page
@model MeetingPlanner.Pages.BishopricMembers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Member</h2>

<h4>Change person who may conduct Sacrament Meetings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bishopric.BishopricID" />

            <div class="form-group">
                <label asp-for="Bishopric.name" class="control-label"></label>
                <input asp-for="Bishopric.name" class="form-control" />
                <span asp-validation-for="Bishopric.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bishopric.position" class="control-label"></label>
                <input asp-for="Bishopric.position" class="form-control" />
                <span asp-validation-for="Bishopric.position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
